<div ng-controller="bankController">
	<div class="row">
		<div class="col-md-12">
			<h2><i class="fa fa-bank"></i> Banks</h2>
		</div>
	</div>
	<div class="row">
	<div class="col-md-12">
		<div class="box">
			<button type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add bank</button>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Bank name</th>
						<th>Branch code</th>
						<th>IFSC</th>
						<th>MICR</th>
						<th>Swift</th>
						<th>Contact</th>
						<th>Branch</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="bank in banks">
						<td>
							<a href title="{{bank.name}}">{{bank.name}}</a>
						</td>
						<td>{{bank.branchcode}}</td>
						<td>{{bank.ifsc}}</td>
						<td>{{bank.micr}}</td>
						<td>{{bank.swift}}</td>
						<td><i class="fa fa-phone"></i> <a href="tel:{{bank.contact}}" title="Contact bank">{{bank.contact}}</a></td>
						<td>{{bank.branch}}</td>
						<td>
							<div class="btn-group btn-group-xs" role="group" ng-init="editmode=false">
								<button type="button" class="btn btn-default" ng-hide="editmode" ng-click="editmode = !editmode">
									<i class="fa fa-pencil"></i>
								</button>
								<button type="button" class="btn btn-default" ng-hide="editmode">
									<i class="fa fa-trash-o"></i>
								</button>
								<button type="button" class="btn btn-default" ng-show="editmode" ng-click="editmode = !editmode">
									<i class="fa fa-save"></i>
								</button>
								<button type="button" class="btn btn-default" ng-show="editmode" ng-click="editmode = !editmode">
									<i class="fa fa-times"></i>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-12">
		<div class="box">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Number</th>
						<th>Type</th>
						<th>IBAN</th>
						<th>Issue date</th>
						<th>Balance</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="account in accounts">
						<td>{{account.name}}</td>
						<td>{{account.acnumber}}</td>
						<td>{{account.type}}</td>
						<td>{{account.iban}}</td>
						<td>{{account.issuedate}}</td>
						<td><i class="fa fa-inr"></i> {{account.balance}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
		<div class="col-md-6">
			<div class="box">


	<p>
		<button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
		<button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
	</p>

  <accordion close-others="status.oneAtATime">

    <accordion-group ng-repeat="account in accounts">
		<accordion-heading><i class="fa fa-credit-card"></i> {{account.title}}</accordion-heading>
		{{account.details}}
		<hr>
		{{account.details[0].acnumber}} <br>
		{{account.details[1].cardnumber}} <br>
		{{account.details[0].cardname}} <br>
		{{account.details[0].cardexpiry}} <br>
    </accordion-group>

    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group>
    
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>




			</div>
		</div>
		<div class="col-md-6">
			<div class="box">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptatibus adipisci excepturi inventore, quidem ullam magnam officiis, quod beatae quam aut eos rem deleniti explicabo tempore, sed aliquid itaque veniam.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex voluptatibus adipisci excepturi inventore, quidem ullam magnam officiis, quod beatae quam aut eos rem deleniti explicabo tempore, sed aliquid itaque veniam.</p>
			</div>
		</div>
	</div>
</div>