<div ng-controller="dashboardController">
  <div class="row">
    <div class="col-md-8">
      <!-- <h1 style="margin-top:0;"><i class="fa fa-dashboard"></i> Dashboard</h1> -->
      <h2><i class="fa fa-dashboard"></i> Dashboard</h2>
    </div>
    <div class="col-md-3 pull-right hidden-xs hidden-sm">
      <div id="today" class="row">
        <div id="date" class="col-md-7">
          <!-- <p><?php echo date("l"); ?></p> -->
          <p>Thursday</p>
          <h1><!--<?php echo date("j"); ?>--> 6 <small> <!-- <?php echo date("M"); ?> --> Mar</small></h1>
        </div>
        <div id="time" class="col-md-5">
          <span class="text-right"><!--<?php echo date("A"); ?>--> PM</span>
          <h1><!--<?php echo date("g:i"); ?>--> 12:30</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div id="mess-info" class="box quick-info">
        <h2>{{lastspend | currency:"₹"}}</h2>
        <h5>This month bill so far</h5>
        <span><i class="fa fa-arrow-circle-o-down"></i>
          7% Less than last month</span>
        <div class="info-icon">
          <i class="fa fa-shopping-cart fa-3x"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div id="buy-info" class="box quick-info">
        <h2 ng-repeat="user in users" ng-if="user.id === currentuser">{{ user.spent | currency:"₹"}}</h2>
        <h5>Contribution in this month</h5>
        <span><i class="fa fa-arrow-circle-o-up"></i>
          3% Higher than last month</span>
        <div class="info-icon">
          <i class="fa fa-gbp fa-3x"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div id="average-info" class="box quick-info">
        <h2>{{totalamount/users.length | currency:"₹"}}</h2>
        <h5>Average bill could be</h5>
        <span><i class="fa fa-arrow-circle-o-right"></i>
          same amount as last month</span>
        <div class="info-icon">
          <i class="fa fa-user fa-3x"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div id="total-info" class="box quick-info">
        <h2>{{totalamount | currency:"₹"}}</h2>
        <h5>Total bill for all</h5>
        <span><i class="fa fa-arrow-circle-o-up"></i>
          3% Higher than last month</span>
        <div class="info-icon">
          <i class="fa fa-bar-chart-o fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <tabset justified="true" class="col-md-4">
      <tab>
        <tab-heading>
          <strong><i class="fa fa-clock-o fa-lg"></i> Project status</strong>
        </tab-heading>
        <ul id="last-pay" class="list-group">
          <li class="list-group-item" ng-repeat="project in project_status">
            <span class="badge progress-bar-warning">{{project.percentage}}%</span>
            <!-- <img ng-src="{{user.image}}" alt="{{user.firstname}} {{user.lastname}}" height="40" width="40" class="img-circle pull-left"> -->
            {{project.name}}
            <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{project.percentag}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.percentage}}%">
                <span class="sr-only">{{project.percentag}}% Complete</span>
              </div>
            </div>
          </li>
        </ul>
      </tab>
      <tab>
        <tab-heading>
          <strong><i class="fa fa-hand-o-left fa-lg"></i> Project details</strong>
        </tab-heading>
        <div class="box">
          <form class="form-horizontal" ng-submit="projectReport()">
            <div class="form-group">
              <label for="project-name" class="col-sm-2 control-label">Project</label>
              <div class="col-sm-10" id="project-name">
                <select class="form-control" ng-model="projectName" ng-options="project.name as project.name for project in project_status"></select>
              </div>
            </div>
            <div class="form-group">
              <label for="filter-date" class="col-sm-2 control-label">Date</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="projectMonth" is-open="projectpicker" show-button-bar="false" show-weeks="false" readonly>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="projectpicker=true"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btn-block">Load</button>
              </div>
            </div>
          </form>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, natus ratione facere, pariatur excepturi mollitia velit doloribus et fuga quo quos? Neque voluptate eum temporibus esse porro, voluptates illum quas.</p>
        </div>
      </tab>
    </tabset>
    <div class="col-md-4">
      <div class="list-group">
        <div class="list-group-item active"> 
          <i class="fa fa-lg fa-tasks"> </i> Tasks 
        </div>
        <div class="list-group-item" ng-repeat="task in tasks | orderBy: '-date'">
        <!-- <div class="list-group-item" ng-repeat="task in tasks"> -->
          <a href class="delete-task" ng-click="deleteTastk($index)">
            <span class="fa  fa-trash-o"></span>
          </a>
          <label>
            <input type="checkbox" class="hide task-checkbox" ng-model="task.done">
            <i class="fa fa-lg" ng-class="task.done ? 'fa-check-square-o  text-muted' : 'fa-square-o'"></i> 
          </label>
          <a href class="complete-{{task.done}}" ng-init="readItem = false" ng-click="readItem = !readItem;">{{task.name}}</a>
          <div class="task-date text-muted"><i class="fa fa-calendar"></i> <span class="complete-{{task.done}}">{{task.date | date : 'fullDate'}}</span></div>
          <p class="task-detail complete-{{task.done}}" ng-show="readItem">{{task.detail}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"> 
          <h3 class="panel-title"><i class="fa fa-lg fa-tasks"></i> New task</h3>
        </div>
        <div class="panel-body">
          <form ng-submit="addTask();">
            <div class="form-group">
              <label>Task</label>
              <input type="text" class="form-control" placeholder="What you need to do ?" ng-model="newTask.name" required>
            </div>
            <div class="form-group">
              <label for="">Description</label>
              <textarea class="form-control" placeholder="Details" ng-model="newTask.detail"></textarea>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <label>Date</label>
                  <div class="input-group">
                    <input type="text" class="form-control" ng-model="newTask.date" datepicker-popup="dd-MMMM-yyyy" is-open="taskpicker" show-button-bar="false" show-weeks="false" readonly>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="taskpicker=true"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="">&nbsp;</label>
                  <input type="submit" class="btn btn-primary btn-block" value="New task">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>