<div class="row">
  <div class="col-md-12">
    <h2><i class="fa fa-briefcase"> </i>  Projects</h2>
  </div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="box">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic explicabo, molestiae recusandae ea blanditiis similique reiciendis at illum deleniti porro, rem illo, reprehenderit architecto aliquid nemo maxime cum quaerat totam.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="box" style="margin-bottom: 0; border-bottom: none;">
			<h4 class="pull-left">Projects</h4>
			<button class="btn btn-xs btn-primary pull-right" ng-hide="projectedit" ng-click="newProject();"><i class="fa fa-plus"></i> Add project</button>
			<div class="clearfix"></div>
		</div>
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="project in projects">
			  <button class="pull-right btn btn-primary btn-xs"><i class="fa fa-arrow-right"></i></button>
		  	<p><strong>{{project.name}}</strong></p>
		  	<ul class="list-unstyled">
			  	<li>Budget: <i class="fa fa-inr"></i> {{project.approaxamount}}</li>
			  	<li>Close Date: {{project.enddate}}</li>
		  	</ul>
		  </li>
		</ul>
		<div class="box">
			<h4 class="pull-left">Projects</h4>
			<button class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus"></i> Add project</button>
			<div class="clearfix"></div>
			<ul class="list-group">
			  <li class="list-group-item" ng-repeat="project in projects">Cras justo odio</li>
		  </ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, aliquid porro tempore ad suscipit consectetur cumque doloribus! Nihil veritatis quibusdam sequi ea nostrum illo. Ad ex accusantium, illum officiis reprehenderit?</p>
		</div>
	</div>
	<div class="col-md-9">
		<div class="box">
			<h3>First Project</h3>
			<div class="row" ng-hide="projectedit">
				<div class="col-md-4">
					<table class="table table-striped table-responsive">
						<tbody>
							<tr>
								<td class="text-muted">Approximate Amount</td>
								<td><i class="fa fa-inr"></i> 9990</td>
							</tr>
							<tr>
								<td class="text-muted">Start Date</td>
								<td>12-Jan-1962</td>
							</tr>
							<tr>
								<td class="text-muted">End Date</td>
								<td>31-March-2015</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-8">
					<dl>
					  <dt>Description</dt>
					  <dd><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero id ducimus sequi distinctio, ad dolorem culpa possimus ea nam, ipsum veritatis eum nihil explicabo quod praesentium esse at quam excepturi.</p></dd>
					</dl>
				</div>
			</div>
			<form class="form-horizontal" ng-submit="addProject();" ng-show="projectedit">
				<div class="form-group">
					<label class="col-sm-2 control-label">Project Name</label>
					<div class="col-md-10">
						<input type="text" class="form-control" ng-model="newproject.name" placeholder="Project Name">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Approximate Amount</label>
					<div class="col-md-2">
						<input type="text" class="form-control" ng-model="newproject.approaxamount" placeholder="Amount">
					</div>
					<label class="col-sm-2 control-label">Start Date</label>
					<div class="col-md-2">
						<input type="text" class="form-control" ng-model="newproject.approaxamount" placeholder="Start Date">
					</div>
					<label class="col-sm-2 control-label">End Date</label>
					<div class="col-md-2">
						<input type="text" class="form-control" ng-model="newproject.approaxamount" placeholder="End Date">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Description</label>
					<div class="col-md-10">
						<textarea class="form-control" ng-model="newproject.name" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
				  <div class="col-md-12 text-right">
				  	<button type="button" class="btn btn-default" ng-click="cancelProject();">Cancel</button>
					  <button type="submit" class="btn btn-primary">Save</button>
				  </div>
				</div>
			</form>
		</div>
	</div>
</div>

